/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Rammetto+One&display=swap');

/* CSS HEX */

:root {
    --primary-font: 'Noto Serif', serif;
    --secondary-font: 'Luckiest Guy', cursive;
    --primary-color: #49596f;
    --secondary-color:  #5e4031;
    --highlight-color: #f54d2c;
    --highlight-color-light: #bfb5af;
    --background-color: #f5f5f5;
}

/* Global Styles */
/* Customize your global styles here */
body {
    font-family: var(--primary-font);
}
h1,{
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
}



/* ===================================
   HERO SECTION
   =================================== */
#hero {
    background: url('../images/safe-hero-img.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
}

.hero-section h1 {
    font-weight: bolder;
    color: var(--primary-color);
    font-family: var(--secondary-font);
    text-transform: uppercase;
}

.hero-section .bg-white {
    opacity: 0.8;
    min-height: 100px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 60px;

}

.custom-btn {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
    color: white;
}   

.custom-btn:hover {
    background-color: var(--highlight-color-light);
    border-color: var(--highlight-color-light);
    color: white;
}



/* =Grids   = */

.key-info-section {
    margin-top: 20px;
    margin-bottom: 20px;

}

.key-info-section h2 {
    margin-bottom: 20px;
}


.key-info-section .card-img-top {
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.key-info-section .boy {
    height: 200px;
    object-fit: cover;
    object-position: center;
}
   
.key-info-section .card-title {
    font-weight: bolder;
}

.key-info-section .card {
    text-align: left;
}




/* ===================================
   CONTACT SECTION
   =================================== */
.contact-section {
    /* Customize contact section styles here */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    background-color: var(--secondary-color);
    color: white;
    text-align: left;
}

.contact-section h2 {
   color: white
}   



/* ===================================
   FOOTER SECTION
   =================================== */
.footer-section {
    /* Customize footer section styles here */
        text-align: center;
        padding: 20px 0;
        flex-wrap: wrap;
        flex: space-between;
        background-color: white;
    }

/* Footer icon spacing */
.footer-section .icon {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.6rem;
    color: inherit;
    text-decoration: none;
}


/*============
MEDIA QUERIES 
=====================*/