/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Rammetto+One&display=swap');

/* CSS HEX */

:root {
    --primary-font: 'Noto Serif', serif;
    --secondary-font: 'Luckiest Guy', cursive;
    --primary-color: #49596f;
    --secondary-color: #956d56; 
    --highlight-color: #f54d2c;
    --highlight-color-light: #bfb5af;
    --background-color: #f5f5f5;
}

/* Global Styles */
/* Customize your global styles here */
body {
    font-family: var(--primary-font);
    padding-top: 55px;
}
h1, h2, h3, {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}
