/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Rammetto+One&display=swap');

/* CSS HEX */

:root {
    --primary-font: 'Noto Serif', serif;
    --secondary-font: 'Luckiest Guy', cursive;
    --primary-color: #49596f;
    --secondary-color:  #5e4031;
    --highlight-color: #f54d2c;
    --highlight-color-light: #bfb5af;
    --background-color: #f5f5f5;
}

/* Global Styles */
/* Customize your global styles here */
body {
    font-family: var(--primary-font);
    background-color: var(--highlight-color-light);
    color: var(--primary-color);
}
h1,{
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
}


.navbar {
    opacity: 1;
}

/* ===================================
   HERO SECTION
   =================================== */
#hero {
    background: url('../images/safe-hero-img.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 400px;
}

.hero-section h1 {
    font-weight: bolder;
    color: var(--primary-color);
    font-family: var(--secondary-font);
    text-transform: uppercase;
}
.hero-section h3 {
   font-weight: bolder;
}

.hero-section .bg-white {
    opacity: 0.8;
    min-height: 100px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
}

.hero-section .custom-btn {
    margin-top: 10px;
}

.custom-btn {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
    color: white;
}   

.custom-btn:hover {
    background-color: var(--highlight-color-light);
    border-color: var(--highlight-color-light);
    color: white;
}



/* =Grids   = */

.key-info-section {
    margin-top: 20px;
    margin-bottom: 20px;

}

.key-info-section h2 {
    margin-bottom: 20px;
}

.key-info-section h3{
    font-size: 1.5rem;
}

.key-info-section .card-img-top {
    height: 200px;
    object-fit: cover;
    object-position: top;
}
   
.key-info-section .card-title {
    font-weight: bolder;
}

.key-info-section .card {
    text-align: left;
}




/* ===================================
   CONTACT SECTION
   =================================== */
.contact-section {
    /* Customize contact section styles here */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    background-color: var(--secondary-color);
    color: white;
    text-align: left;
}

.contact-section h2 {
   color: white
}   

#contact {
    margin-top: 20px;
}





/* ===================================
   FOOTER SECTION
   =================================== */
.footer-section {
    /* Customize footer section styles here */
        text-align: center;
        padding: 20px 0;
        flex-wrap: wrap;
        flex: space-between;
        background-color: white;
    }

/* Footer icon spacing */
.footer-section .icon {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.6rem;
    color: inherit;
    text-decoration: none;
}





/* ===================================
   MEDIA QUERIES - RESPONSIVE DESIGN
   =================================== */

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    /* Customize styles for extra small screens here */

}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* Customize styles for small screens here */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* Customize styles for medium screens here */

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* Customize styles for large screens here */{

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Customize styles for extra large screens here */
.hero-section .banner {
    margin-top: 270px
}

     .hero-section {
     min-width: 1200px;
    min-height: 800px;
     }

     .hero-section h1 {
    font-size: 6rem;
    letter-spacing: .4rem;
    opacity: 1;
}

.hero-section h3 {
    font-size: 1.5rem;
    margin-top: .1px;
    
}

}