/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Rammetto+One&display=swap');

/* CSS HEX */

:root {
    --primary-font: 'Noto Serif', serif;
    --secondary-font: 'Luckiest Guy', cursive;
    --primary-color: #49596f;
    --secondary-color: #956d56; 
    --highlight-color: #f54d2c;
    --highlight-color-light: #bfb5af;
    --background-color: #f5f5f5;
}

/* Global Styles */
/* Customize your global styles here */
body {
    font-family: var(--primary-font);
}
h1,{
    font-family: var(--secondary-font);
    color: var(--primary-color);
}


#hero {
    background: url('../images/safe-hero-img.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
}

.hero-section h1 {
    font-weight: bolder;
    color: var(--primary-color);
    font-family: var(--secondary-font);
    text-transform: uppercase;
}

.hero-section .bg-white {
    opacity: 0.8;
    min-height: 100px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 60px;
}






/* ===================================
Grids   =================================== */

.key-info-section {

}